{% extends 'base.html' %}

{% block main %}
<div class="container ">
    <div class="row">
        <div class="col">
            <h1 class="text-center my-2 p-2 alert alert-primary">Course Student</h1>
        </div>
    </div>
    {% if course %}
    <div class="row">
        <div class="col">
                {% comment %} <h3  align='center' class="alert alert-warning">Student Details</h3> {% endcomment %}
                <table class="table table-bordered text-center">
                    <tr>
                        <td colspan='4' class="h4 bg-primary text-light">Course Details</td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td>{{course.id}}</td>
                        <th>Name</th>
                        <td>{{course.name}}</td>
                    </tr>
                    
                </table>

                <table class="table table-bordered text-center">
                    <tr>
                        <td colspan='5' class="h4 bg-primary text-light">Student Details</td>
                    </tr>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Mobile No</th>
                        <th>Date of Birth</th>
                    </tr>
                    {% for student in students %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.age}}</td>
                        <td>{{student.mobileno}}</td>
                        <td>{{student.dob}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-6 m-auto shadow p-4 rounded-4 border mt-4 bg-light">
                <form method="post" >
                    {% csrf_token %}
                    <label for="id" class="form-label">Course ID</label>
                    <input type="text" name="id" id="id" class="form-control mb-3" placeholder="Enter Course ID">
                    <input type="submit" class="btn btn-primary w-100" value="Submit">
                </form> 
            </div>
        </div>
        {% endif %}           
    </div>
{% endblock main %}
