<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        input, textarea {
            border: 1px solid #ccc;
            border-radius:5px;
            padding: 5px;
            transition: border-color 0.3s;
        }
        input:focus, textarea:focus {
            border:2px solid #7df9ff;
            outline: none;
            position: relative;
            box-shadow: 0 0px 10px #7df9ff;
        }
        .errorlist{
            color:red;
        }
        .help_text{
            color:green;
        }
    </style>
</head>
<body  bgcolor="yellow">
    <div class="container">
        <div class="row">
            <h1 align='center'>Welcome to LMS Registration Page</h1>
        </div>
        <div class="row">
            <div class="col col-md-8 m-auto">
                <form action="" method="post" class="row g-3 needs-validation border rounded m-3 p-4" novalidate>
                    {% csrf_token %}
                    <table bgcolor='white' align='center'>

                        {{user_form.username.label_tag}}
                        {{user_form.username}}
                        <div class="help_text">
                            {{user_form.username.help_text}}
                        </div>
                        {{user_form.username.errors}}

                        {{student_form.name.label_tag}}
                        {{student_form.name}}
                        <div class="help_text">
                        {{student_form.name.help_text}}
                        </div>
                        {{student_form.name.errors}}

                        {{student_form.dob.label_tag}}
                        {{student_form.dob}}
                        <div class="help_text">
                        {{student_form.dob.help_text}}
                        </div>
                        {{student_form.dob.errors}}

                        {{student_form.mobileno.label_tag}}
                        {{student_form.mobileno}}
                        <div class="help_text">
                        {{student_form.mobileno.help_text}}
                        </div>
                        {{student_form.mobileno.errors}}

                        {{student_form.email.label_tag}}
                        {{student_form.email}}
                        <div class="help_text">
                        {{student_form.email.help_text}}
                        </div>
                        {{student_form.email.errors}}

                        {{student_form.address.label_tag}}
                        {{student_form.address}}
                        <div class="help_text">
                        {{student_form.address.help_text}}
                        </div>
                        {{student_form.address.errors}}

                        {{user_form.password1.label_tag}}
                        {{user_form.password1}}
                        <div class="help_text">
                        {{user_form.password1.help_text}}
                        </div>
                        {{user_form.password1.errors}}

                        {{user_form.password2.label_tag}}
                        {{user_form.password2}}
                        <div class="help_text">
                            {{user_form.password2.help_text}}
                        </div>
                        {{user_form.password2.errors}}

                        <tr>
                            <td>
                                <input type="submit" value="Register">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>



    <a href="{% url 'home' %}">Back To Home</a>

</body>
</html>