:root {
    --color1: #17242a;		
    --color1_rgb:rgba(23,36,42,1);
    --color2:#2b7a77;
    --color2_rgb:rgba(43,122,119,1);
    --green:#3aafa9;
    --green_rgb:rgba(58,175,169,1);
    --light_grayish_cyan:#def2f1;
    --light_grayish_cyan_rgb:rgba(222,242,241,1);
    --white:#ffffff;
    --white_rgb:rgba(255,255,255,1);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: var(--green);
}   
input::placeholder {
    color: red;
    opacity: 1;
}
:-ms-input-placeholder {
    color: red;
}

::-ms-input-placeholder {
    color: red;
}
    