@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #3aafa9;
    --text-color: #fff;
    --main-color: #2b7a77;
}

body {
    /* min-height: 100vh; */
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;

}

.logo {
    display: flex;
    align-items: center;

}

.logo i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}

.logo span {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar {
    display: flex;

}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50 ease;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width:1280px){
    header{
        padding:14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px;
    }
}

@media (max-width:1090px){
    #menu-icon{
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 35vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color:var(--text-color);
        transform: translateY(10px);
    }
    .navbar a.active{
        color:var(--text-color);
    }
    .navbar.open{
        right: 2%;
    }
}

.body{
    margin-top: 100px;
}
table, tr, td{
    background-color: #2b7a77;
    padding: 7px 20px 7px 20px;
}
table{
    margin:auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:rgba(0, 0, 0, 0.5);
    /* font-size: 14px; */

}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="file"] {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    color
}

input[type="file"]::before {
    content: "Choose File";
    display: inline-block;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="file"]:hover::before {
    background-color: #0056b3;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

/* Adjust the label text if needed */
.file-label {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #777;
}

.body{
    padding: 20px 40px;
}